*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Bebas Neue', cursive;
    color: white; 
    
  }

  body {

   
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    animation-name: backgroundAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    min-height: 100vh;
    border: 10px solid black; 
   
}

  
  @keyframes backgroundAnimation {
    0% {
      background: url(assets/nebula-02.jpg)
    }
    25% {
      background: url(assets/hubble2.jpg)
    }
    50% {
      background: url(assets/nebula.jpg)
    }
    75% {
      background: url(assets/nebula-02.jpg)
    }
    100% {
      background: url(assets/hubble2.jpg)
    }
  }
  

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 70px;

  font-size: 3em;



}


.signDisplay {
  justify-content: center;
}

  .date {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    background-color: none;
    color: black;
   
  }
  
  #input{
    display: flex;
    font-weight: bold;
    box-shadow: 7px 7px 4px 3px rgba(30, 70, 247, 0.2);
    height: 60px; 
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    width: 140px;
    background: black;
    color: white;
    
  }
  
  .buttonContainer {
    padding: 2em;
    display: flex;
    flex-direction: column;
    
  }
  
  #save, #update, #del  {
    margin: 15px;
    padding: 1em 3em;
    border: none; 
    border-radius: .125em;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    background-color: black;


  }

.animate {
  background-color: transparent;
  color: transparent;
}

#save::before {

  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0; 
  border-radius: .125em;
}


#save.animate::before {
  display: block; 
}

  .container {
      height: 200px;
      width: 300px;
      flex-direction: column;
      align-items: center;
      display: flex;
      background-color: none;
      font-size: 2em;
  }


  .hidden {
    display: none;
  }


  @media only screen and (max-width: 600px) {
  .title {
      font-size: 25px;
      
    }
  }